<!-- templates/about_us.html -->
{% include 'partials/header.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='aboutus.css') }}">

<main>
    <h1>About Us</h1>
    <p>Welcome to My GeoVoyage!</p>
    <p>We are passionate about travel and committed to providing you with the best travel experience. At My GeoVoyage, we understand that every journey is unique, and we strive to make your travels memorable and enjoyable.</p>
    <p>Our team of experts works tirelessly to curate personalized travel solutions tailored to your preferences. Whether you seek adventure, cultural exploration, or relaxation, My GeoVoyage is your trusted partner in crafting unforgettable travel experiences.</p>
    <p>Explore the world with confidence, guided by our expertise and dedication to your satisfaction. Your journey begins with My GeoVoyage!</p>
</main>

{% include 'partials/footer.html' %}
