<!-- templates/contact_us.html -->
{% include 'partials/header.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='contact.css') }}">
<main>
    <h1>Contact Us</h1>
    <p>If you have any questions or feedback, feel free to reach out to us:</p>
    <p>Email: info@mytravelapp.com</p>
    <p>Phone: 123-456-7890</p>

    <form action="/submit_feedback" method="post">
        <label for="feedback">Your Feedback:</label>
        <textarea id="feedback" name="feedback" rows="4" cols="50" required></textarea>

        <button type="submit">Submit Feedback</button>
    </form>
</main>

{% include 'partials/footer.html' %}
